@import "@styles/palette";

// Figma tokens
$measure-title-color: #036; // --color-text-primary-active
$measure-success: #008055; // --color-background-success
$measure-secondary: #5c6f82; // --color-background-secondary
$measure-benefits-bg: #f2f7fc; // --color-background-primary-lighter
$measure-benefits-title: #2f475e; // --color-text-secondary
$measure-check: #000; // icona spunta nera

.measure-item {
  .measure-button {
    &:not(.collapsed) {
      box-shadow: none;
    }
  }

  .measure-heading-content {
    flex-wrap: wrap;
  }

  // link/sans-bold-lg
  .measure-title {
    color: $measure-title-color;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
  }

  .measure-badge {
    white-space: nowrap;
    border-radius: 4px;
    // corpo del font uguale al titolo ma senza grassetto
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: $white;
    padding: 0.25rem 1rem;

    &--complete {
      background-color: $measure-success;
    }

    &--partial {
      background-color: $measure-secondary;
    }
  }

  .measure-benefits {
    background-color: $measure-benefits-bg;
    border-radius: 4px;

    // caption
    &__title {
      color: $measure-benefits-title;
      font-size: 14px;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: 0.5px;
    }

    &__icon {
      fill: $measure-check;
    }
    &__list {
      font-size: 16px;
    }
  }
}
